# Build/Compilation files
*.obj
*.mod
*.o
*.a
*.exe
*.so
*.dll
*.lib
*.bin

# Temporary/Intermediate files
*.tmp
*.tmp.*
*.tmp*
*.log
*.log.*
*.log*
*.swp
*.swp.*
*.swp*
*.swo
*.swo.*
*.swo*

# Debugging/Profiling files (Binary)
*.pdb
*.out

# Scripts and configuration
*.sh
*.yaml

# Media files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.ico
*.webp
*.webm
*.mp4
*.mkv
*.flv

# Data files
*.vtk
files.vtk.series
*.dat
test/**

# Executable files
bin/
test_program
ysy_fc
fpm-0.*
*.dir

# Optimization reports
*.optrpt
repopt

# Project-specific files and directories
archive/
*Build*/

# Virtual environment
.venv
