# extensions
*.obj
*.mod
*.o
*.a
*.exe
*.dir
*.pdb
*.dat
*.out
*.so
*.dll
*.lib
*.bin
*.tmp
*.tmp.*
*.tmp*
*.log
*.log.*
*.log*
*.swp
*.swp.*
*.swp*
*.swo
*.swo.*
*.swo*
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.ico
*.webp
*.webm
*.mp4
*.mkv
*.flv
*.sh
*.vtk
*.txt
files.vtk.series

fpm-0.*
*.optrpt
*.yaml
repopt

archive/*
bin/*
test_program
ysy_fc

.venv
test/