# ---- Default ----
* text=auto

# ---- Fortran ----
*.f90 text eol=lf
*.F90 text eol=lf

# ---- C/CUDA ----
*.c   text eol=lf
*.h   text eol=lf
*.cu  text eol=lf

# ---- Scripts ----
*.sh  text eol=lf
*.md  text eol=lf

# ---- GitHub linguist ----
*.fypp linguist-language=fortran

# ---- Binary ----
*.o    binary
*.a    binary
*.so   binary
*.mod  binary
*.tar  binary
*.gz   binary
*.tgz  binary
*.nc   binary
*.h5   binary

# ---- Release clean ----
.gitattributes export-ignore
.gitignore     export-ignore
.github        export-ignore
codecov.yml    export-ignore

# ---- Version substitution ----
.VERSION export-subst